.jtable-left-area {float:left;width:80%; }
.jtable-right-area {float:right;width:20%;text-align:right; }
.blue{color:#fff;}
.required {color:red;}
.error {color:red;}
.jtable> tbody> tr.jtable-data-row >td{ vertical-align:middle;}
.jtable .btn {color:#fff;}
#toolbar a{ }
tr.parent td,tr.parent th {background-color:#efefef;}
.wysiwyg-color-green {color:green;}
.wysiwyg-color-blue {color:blue;}
.wysiwyg-color-red {color:red;}
.wysiwyg-text-align-center {
    text-align: center;
}
.wysiwyg-text-align-left {
    text-align: left;
}
.wysiwyg-text-align-right {
    text-align: right;
}
#toolbar {border:solid 1px #efefef;zoom: 1;
    background: #F7F7F7;
    margin: 5px 2px;
    padding: 3px 0;
    border: 1px solid #EFEFEF;}
#toolbar a {display:inline-block;font: normal normal normal 14px/1 FontAwesome;}
.anchor-list table {width:100%;border-collapse:collapse;border:solid 1px #ccc;margin:15px 0;}
.anchor-list table th{background-color:#e7e7e7;font-weight:bold;}
.anchor-list table td,.anchor-list table th{padding:3px 5px;}
.middle-in-td {text-align:center;width:100%;}
.title-a{background-color:#F2EFE6;padding:4px 0 4px  20px;border-radius:4px;}
.title-a a,.title-b a,.title-c a {color:#666;}
.title-b{background-color:#F2EFE6;padding:4px 0 4px  20px;border-radius:4px;}
.title-c{background-color:#F2EFE6;padding:4px 0 4px  20px;border-radius:4px;}
.indent-container-1 {margin-left:40px;}
.indent-container-2 {text-indent:80px;}
.indent-container-3 {text-indent:120px;}

.l-form-container .l-text{ height: 30px; line-height: 30px;}

.modal-body .form-group label{ min-width: 110px; text-align: right; padding-right: 8px;}
.modal-body .form-group select{ width: 230px; display: inline; }

.help-block { display: inline-block;}

.l-grid-row-cell-inner{ line-height: 28px;}
.l-grid td div{ font-size: 13px;}
.defineGrid .l-grid-row-cell-inner{ line-height: 22px; padding: 5px 0;}

html{
    background: none;
}

.form-inline .form-group{
    line-height: 35px;
}

.errorMessage { color: #a94442; font-size: 85%;}

.custom-a-style{ font-weight: bold; color: #31708f; text-decoration:underline;}
.form-inline .form-group{ line-height: 40px;}
.form-group label {margin-bottom: 0px;}
.form-inline .form-control{vertical-align: inherit; }
#DeviceModal .modal-body .form-group label{ min-width: 150px; text-align: right; padding-right: 8px;}

