<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastrun.TempCollection.dal.ControllistMapper">

    <resultMap type="com.fastrun.TempCollection.model.Controllist" id="controllistMap">
                  <id column="id" property="id" />
         <result column="RangeType" property="rangeType" />
         <result column="RangeObjectID" property="rangeObjectID" />
         <result column="RemoteCode" property="remoteCode" />
         <result column="Note" property="note" />
         <result column="Status" property="status" />
         <result column="CreateTime" property="createTime" />
    </resultMap>
    
    <sql id="Base_Column_List">
      `id`,`RangeType`,`RangeObjectID`,`RemoteCode`,`Note`,`Status`,`CreateTime`
    </sql>
  
    <select id="getPaging" resultType="com.fastrun.TempCollection.model.Controllist" resultMap="controllistMap">
       SELECT
        <include refid="Base_Column_List" />
       FROM ControlList
       order by ${orderBy} limit #{offset},#{pageSize}
    </select>

    <select id="get" resultType="com.fastrun.TempCollection.model.Controllist" resultMap="controllistMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ControlList WHERE id=#{id}
    </select>

    <update id="update" parameterType="com.fastrun.TempCollection.model.Controllist"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">
       Update ControlList
        <set>
                   <if test="model.rangeType!=null">
                           `RangeType`=#{model.rangeType},
                       </if>
        <if test="model.rangeObjectID!=null">
                           `RangeObjectID`=#{model.rangeObjectID},
                       </if>
        <if test="model.remoteCode!=null">
                           `RemoteCode`=#{model.remoteCode},
                       </if>
        <if test="model.note!=null">
                           `Note`=#{model.note},
                       </if>
        <if test="model.status!=null">
                           `Status`=#{model.status},
                       </if>
        <if test="model.createTime!=null">
                           `CreateTime`=#{model.createTime},
                       </if>  
        </set>
        WHERE id=#{model.id}
    </update>

    <update id="delete" parameterType="java.lang.Integer" statementType="PREPARED"
            timeout="20">
        update ControlList set state=-1 WHERE id=#{id}
    </update>

    <insert id="insert" parameterType="com.fastrun.TempCollection.model.Controllist"
            flushCache="true"
            statementType="PREPARED"
            keyProperty="id"
            keyColumn=""
            useGeneratedKeys="true"
            timeout="20">
        INSERT INTO ControlList(`RangeType`,`RangeObjectID`,`RemoteCode`,`Note`,`Status`,`CreateTime`) VALUES(#{model.rangeType},#{model.rangeObjectID},#{model.remoteCode},#{model.note},#{model.status},#{model.createTime})
    </insert>


    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM ControlList
        <!--where>
            <if test="realName!=null and realName!=''">
                 realName like concat('%',#{realName},'%')
            </if>
            and state!=-1
        </where-->
    </select>
</mapper>
