<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastrun.TempCollection.dal.DeviceMapper">

    <resultMap type="com.fastrun.TempCollection.model.Device" id="deviceMap">
                  <id column="id" property="id" />
         <result column="DeviceSN" property="deviceSN" />
         <result column="DeviceType" property="deviceType" />
         <result column="TypeName" property="typeName" />
         <result column="Parameter1" property="parameter1" />
         <result column="Parameter2" property="parameter2" />
         <result column="interlave" property="interlave" />
         <result column="FirmwareVersion" property="firmwareVersion" />
         <result column="Status" property="status" />
         <result column="CreaterID" property="createrID" />
         <result column="CreateTime" property="createTime" />
    </resultMap>
    
    <sql id="Base_Column_List">
      `id`,`DeviceSN`,`DeviceType`,`TypeName`,`Parameter1`,`Parameter2`,`interlave`,`FirmwareVersion`,`Status`,`CreaterID`,`CreateTime`
    </sql>
  
    <select id="getPaging" resultType="com.fastrun.TempCollection.model.Device" resultMap="deviceMap">
       SELECT
        <include refid="Base_Column_List" />
       FROM Device
       order by ${orderBy} limit #{offset},#{pageSize}
    </select>

    <select id="get" resultType="com.fastrun.TempCollection.model.Device" resultMap="deviceMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM Device WHERE id=#{id}
    </select>

    <update id="update" parameterType="com.fastrun.TempCollection.model.Device"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">
       Update Device
        <set>
                   <if test="model.deviceSN!=null">
                           `DeviceSN`=#{model.deviceSN},
                       </if>
        <if test="model.deviceType!=null">
                           `DeviceType`=#{model.deviceType},
                       </if>
        <if test="model.typeName!=null">
                           `TypeName`=#{model.typeName},
                       </if>
        <if test="model.parameter1!=null">
                           `Parameter1`=#{model.parameter1},
                       </if>
        <if test="model.parameter2!=null">
                           `Parameter2`=#{model.parameter2},
                       </if>
        <if test="model.interlave!=null">
                           `interlave`=#{model.interlave},
                       </if>
        <if test="model.firmwareVersion!=null">
                           `FirmwareVersion`=#{model.firmwareVersion},
                       </if>
        <if test="model.status!=null">
                           `Status`=#{model.status},
                       </if>
        <if test="model.createrID!=null">
                           `CreaterID`=#{model.createrID},
                       </if>
        <if test="model.createTime!=null">
                           `CreateTime`=#{model.createTime},
                       </if>  
        </set>
        WHERE id=#{model.id}
    </update>

    <update id="delete" parameterType="java.lang.Integer" statementType="PREPARED"
            timeout="20">
        update Device set state=-1 WHERE id=#{id}
    </update>

    <insert id="insert" parameterType="com.fastrun.TempCollection.model.Device"
            flushCache="true"
            statementType="PREPARED"
            keyProperty="id"
            keyColumn=""
            useGeneratedKeys="true"
            timeout="20">
        INSERT INTO Device(`DeviceSN`,`DeviceType`,`TypeName`,`Parameter1`,`Parameter2`,`interlave`,`FirmwareVersion`,`Status`,`CreaterID`,`CreateTime`) VALUES(#{model.deviceSN},#{model.deviceType},#{model.typeName},#{model.parameter1},#{model.parameter2},#{model.interlave},#{model.firmwareVersion},#{model.status},#{model.createrID},#{model.createTime})
    </insert>


    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM Device
        <!--where>
            <if test="realName!=null and realName!=''">
                 realName like concat('%',#{realName},'%')
            </if>
            and state!=-1
        </where-->
    </select>
</mapper>
